$primary: #3367d6;
$red: red;
$blue: #3367d6;
$black: #212120;
$grey: hsla(0, 0%, 100%, 0.5);
$clouds: #ECE9E6;
$link-active: $primary;
$family-serif: "Dosis", sans-serif;
$family-primary: $family-serif;
$sizeUnit: rem;
$marginKey: "m";
$paddingKey: "p";
$separator: "-";
$sizes: ("none", 0), ("xxs", 0.125), ("xs", 0.25), ("sm", 0.5), ("md", 1), ("lg", 2), ("xl", 4), ("xxl", 8);

$positions: ("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left");

@function sizeValue($key, $value) {
    @return if($key == "none", 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);

    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }

    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }

    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);

        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }

        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

@mixin box-shadow($top, $left, $blur, $color, $second_color) {
    -webkit-box-shadow: $top $left $blur $color, $second_color;
    -moz-box-shadow: $top $left $blur $color, $second_color;
    box-shadow: $top $left $blur $color, $second_color;
}

.dashboard-wrapper {
    margin-bottom: 0 !important;

    .main-content {
        background: $clouds;
    }
}

#sidebar {
    display: block;
    z-index: 1030;

    @include box-shadow(0, 2px, 22px, rgba(0, 0, 0, 0.2), 0 2px 30px 0 rgba(0, 0, 0, 0.35));

    // box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.2), 0 2px 30px 0 rgba(0, 0, 0, 0.35);
    background-color: $black;
    color: #fff;
    text-align: center;
    height: 100vh;
    max-height: 100%;
    transition: .3s all ease-in;
    width: 80px;

    .menu-label {
        display: none;
    }

    .menu-list {
        li {
            justify-content: center;
            margin-bottom: 1rem;
            padding-left: 0;
        }

        a {
            display: none;
        }
    }

    .menu-label {
        color: #f9f9f9;
        background: #333;
        padding: .5rem 0;
    }

    a {
        color: $grey;
    }

    .user-area {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        padding: 1rem 0;
    }

    &:hover {
        width: 240px;

        .menu-label {
            display: block;
        }

        .menu-list {
            li {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                justify-content: start;
            }

            a {
                display: block;

                &.is-active, &:hover {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}

.bd-lead, .bd-side {
    padding: 1.5rem;
}

a.navbar-item.is-active, a.navbar-link.is-active {
    color: $primary;
}

#footer {
    background: #222;
    padding: 2rem 0;
    color: #fff;
}

@import url("https://fonts.googleapis.com/css?family=Dosis");

@import "~bulma/bulma";